$minColWidth: 15rem;
$gridGap: 30px;

.grid_wrap {
    margin: 15px 0;

    > h1 {
        font-weight: 700;
        font-size: 34px;
        margin-bottom: 15px;
    }
}

.grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax($minColWidth, 1fr));
    grid-gap: $gridGap;

    &+.grid {
        margin-top: $gridGap;
    }
}

.search-section,
.bookmark-section {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        @include mobile {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr))

        }
    }
}