$main-color: #09357B;
$white-color: #fff;
$black-color: #000;
$green-color: #388E3C;
$red-color: #D32F2F;
$yallow-color: #FFCA28;
$blue-color: #2196F3;
$gray-color: #979797;

$padding-card: 10px;
$border-radius: 4px;
$margin-bottom: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;
$desktop-width: 20000px;

$font-family: 'Amiri', serif;
